# Ignore node_modules folders
node_modules/

# Ignore .env files in all directories
**/.env

# Ignore Docker-related files if needed
.dockerignore

# Ignore logs and temp files
*.log
tmp/

# Ignore npm debug files
npm-debug.log*
